/* Web page */

/* Base styles */

:root {
   --primary-font: "Roboto", sans-serif;
   --link-logo-font: "Raleway", sans-serif;
   --primary-gray-color: #434455;
   --primary-dark-color: #2E2F42;
   --primary-light-color: #4D5AE5;
   --primary-white-color: #fff;
   --secondary-accent-color: #E7E9FC;
   --secondary-background-color: #F4F4FD;
}
.section {
   background-color: #fff;
}

.link,
.list,
.navigation-logo,
.span,
.footer-logo,
.list-item {
   text-decoration: none;
}

.list,
.navigation-list-item,
.adress-list  {
   list-style: none;
   list-style: none;
}

.body {
   font-family: "Roboto", sans-serif;
   font-style: normal;
   background-color: #FFFFFF;
   color: #434455;
}

/* Header */

.navigation-logo {
color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.span {
   color: #2E2F42;
   font-size: 18px;
   font-weight: 800;
   line-height: 21px; /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
   }

.link-list {
   color: #2e2f42;
   text-align: left;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   }
.link-nav:hover,
.link-nav:focus {
   color: #404bb; 
}

/* adress */
.adress {
   background: #fff;
}
.adress-list {
   text-decoration: none;
   text-align: left;
}
.adress-list {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}

/* Hero styles */
.hero-title {
   background-color:  #2E2F42;
   color: var(--white, #FFF);
   text-align: center;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07; 
   letter-spacing: 1.12px;
}

.hero-btn {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border-radius: 4px;
   background: var(--iris, #4D5AE5);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   color: #fff;
   cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
   border-radius: 4px;
   background: var(--ocean, #404BBF);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   color: #fff;
   
}

/* Benefits styles */

.benefits-list {

}
.benefits-list-item {

}

.benefits-list-subtitle {
   color: var(--navyblue, #2E2F42);
   font-size: 20px;
   font-weight: 500;
   line-height: 1.11;
   letter-spacing: 0.4px;
}

.benefits-list-desc {
   color: var(--slate, #434455);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px; /* 150% */
   letter-spacing: 0.32px;
}

/* Work styles  */
.case {

}
.case-title {
   color: var(--navyblue, #2E2F42);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11
   letter-spacing: 0.72px;
   text-transform: capitalize;
   background-color: #F4F4FD;

}
.case-list {

}
.case-list-item {

}
.case-list-img {

}
.case-list-img {
   width: 360px;
   height: 300px;
   border: 1px solid var(--cornflower, #E7E9FC);
   background: #FFFFFF;
   }

/* Team styles */
.team {

}

.team-title {
   color: var(--navyblue, #2E2F42);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 40px; /* 111.111% */
   letter-spacing: 0.72px;
   text-transform: capitalize;
}

.team-list {

}

.team-list-item {
   
}

.team-list-img {

}

.team-list-subtitle {
   color: var(--navyblue, #2E2F42);
   text-align: center;
   font-size: 20px;
   font-weight: 500;
   line-height: 24px; /* 120% */
   letter-spacing: 0.4px;
}

.team-list-desc {
color: var(--slate, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.team-list-img {
   width: 264px;
   height: 260px;
}


/* footer */

.footer {
   background-color: #2e2f42;
}

.footer-logo{
   color: #4d5ae5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
   background: var(--navyblue, #2E2F42);
}

.footer-text{
   color: #F4F4FD;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; 
   letter-spacing: 0.32px;
   background: var(--navyblue, #2E2F42);
}

/* Portfolio page */

/* filter */
.active-button {
   color: #4d5ae5;
   background-color: #F4F4FD;
   font-family: "Roboto", sans-serif;
   text-align: center;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5; 
   letter-spacing: 0.64px;
   background: var(--ocean, #404BBF);
}
.active-butto:hover,
.active-button:focus {
   color: #FFFFFF;
   background-color: #404BBF;
   cursor: pointer;

}
.button-list {
   background: #FFF;
   text-decoration: none;
   list-style: none;
}
.button-list-items {
   color: var(--iris, #4D5AE5);
   text-align: center;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px; /* 150% */
   letter-spacing: 0.64px;
}
/* Rows */

.project-list {
   background: #FFF;
   
   list-style: none;
}
.list-title {
   color: #2e2f42;
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
    line-height: 1.2;
   letter-spacing: 0.4px;
   text-decoration: none;
}
.list-dsc {
   color: #434455;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.32px;
   text-decoration: none;
}